*{
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 700px;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header .interests{
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-evenly;
    transform: translateY(-140px);

}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.header .interests h4{
    font-size: 40px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0px 11px 2px rgba(0, 0, 0, 0.5);
}

.header .avatar{
    position: absolute;
    bottom: -60px;
    opacity: 1;
    transform: translateY(-140px);
    
}

.header .avatar img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


/* Content */

.content{
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
    padding-top: 100px;
}

/* Biodata */

.title{
    width: 200px;
    height: 100px;
    /* margin-bottom: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.title h3{
    font-size: 40px;
    color: #495464;
}

.biodata{
    width: 75%;
    height: 300px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    margin: 0 80px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    transform: translateY(100px);
    visibility: hidden;
}

.biodata_out{
    transform: translateY(100px);
    visibility: hidden;
    transition: .5s;
}

.biodata_in{
    visibility: visible;
    transform: translateY(0);
    transition:1.5s;
}

.biodata div{
    width: 300px;
    height: 80px;
    background-color: #686d76;
    margin: 30px;
    border-radius: 5px;
    cursor: context-menu;
    display: flex;
    transition: .3s ;
}

.biodata div:hover{
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.biodata div p{
    margin: auto;
    color: #fbf7f0;
    transition: inherit;
    font-family: 'Open Sans', sans-serif;

}

.biodata div:hover p{
    font-size: 18px;
}

/* pendidikan */

.tpendidikan{
    margin-top: 50px;
}
.pendidikan{
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.pendidikan .urutan_tahun{
    width: 100%;
    height: 1px;
    background-color: #686d76;
    display: flex;
    justify-content: space-around;
}

.pendidikan .urutan_tahun div{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #519872;
    position: relative;
    top: -50px;
}

.urutan_tahun div{
    display: flex;
    cursor: pointer;
}

.urutan_tahun div h2{
    margin: auto;
    color: #41444b;
}

.check {
    transform: translateY(-20px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 59px 31px -18px;
    
    transition: .5s;
} 

.no_check{
    transform: translateY(0);
    box-shadow: none;
    
    transition: .5s;
}
.pendidikan .deskripsi{
    margin: 130px 200px;
    width: 800px;
    height: 400px;
    box-shadow: -1px 4px 13px 14px rgba(0, 0, 0, 0.2), 1px 1px 6px 0 rgba(0, 0, 0, 0.19);
    display: flex;
}
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
.pendidikan .deskripsi p{
    margin: auto;
    padding: 3px;
    font-size: 30px;
    text-indent: 20px;
    letter-spacing: 5px;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}

/* Skills */


.skills{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 200px;
}

.skills div{
    width: 400px;
    height: 300px;
    transform-style: preserve-3d;
    perspective: 800px;
    transition: .5s;
    /* position: absolute; */
}

.skills div:hover .front{
    transform: rotateX(-180deg);
}

.skills div:hover .back{
    transform: rotateX(0deg);
}

.front{
    background-color: #8bcdcd;
    transform: rotateX(0deg);
    transition: .5s;
    position: absolute;
    top: 0;
    left: 0;    
    backface-visibility: hidden;
    display: flex;
}

.front h3{
    margin: auto;
    font-family: 'Architects Daughter', cursive;
    color: #f4f4f2;

}


.back{
    height: 100%;
    width: 100%;
    background-color: burlywood;
    transform: rotateX(180deg);
    transition: .5s;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    display: flex;
}

.back span{
    margin: auto;
    width: 3px;
    height: 25px;
    background-color: #f4f4f2;
}

.back p{
    margin: auto;
    font-family: 'Architects Daughter', cursive;
    color: #f4f4f2;
    font-size: 20px;
}

/* Kontak */

.kontak{
    position: fixed;
    top: 500px;
    left: 0;
}

.kontak div{
    width: 0;
    height: 50px;
    display: flex;
    align-items: center;

    background-color: #bbbfca;
    border-radius: 0 2px 2px 0;
    transition: width .3s;

    transition-timing-function: ease-in;
}



.kontak div p{
    width: 200px;
    margin-left: 5px;
    border-radius: 2px;
    font-size: 23px;
    
    display: inline-block;
    opacity: 0;

    transition: 1s;
}

.kontak .linkedin p{
    width: 500px;
}

.kontak div:not(.email):hover{
    width: 180px;
}

.kontak .email:hover{
    width: 300px;
}



.kontak div:hover p{
    opacity: 1;
}

/* Footer */

.footer{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #e8e8e8;
}

.footer p, .footer span{
    font-size: 20px;
    color: #6e6d6d;
}